<!DOCTYPE HTML>
<html lang="en-US">
<head>
		<meta charset="UTF-8">
		<title>Beatport Top Ten's</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
</head>
<body>
	<div class="bs-docs-example">
            <table class="table table-striped">
              <thead>
                <tr>
                  <% @genres_hash.each do |genre, *|%>
                  <th><%= genre %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @genre_data_hash.each do |key, value| %>
                 <% value["results"].each do |one| %> 
                <tr>
                  <td><%= one["position"]%> <br>
                    <%= one["title"]%> <br>
                    <% one["artists"].each do |artist| %>
                    <%= artist["name"]%>
                    <%= "," unless artist == one["artists"].last %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
</body>
</html>