
<html lang="en-US">
<head>
		<meta charset="UTF-8">
		<title>Beatport Top Ten's</title>
		<link href="style.css" rel="stylesheet">
</head>
<body>
  
	<div class="table_container">
            <% @genre_data_hash.each do |key, value|%>
            <table style="float:left;">
              <thead>
                <tr>
                  <th><%= key %></th>
                </tr>
              </thead>
              <tbody>
                <% value["results"].each do |one| %>
                <tr>
                  
                  <td><%= one["position"]%> <br>
                    <%= one["title"]%> <br>
                    <% one["artists"].each do |artist| %>
                    <%= artist["name"]%>
                    <%= "," unless artist == one["artists"].last %>
                    <% end %> <br>
                    <%= one["label"]["name"] %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
           <% end %> 
          </div>


</body>
</html>